<form id="manufacturer-custom-form"
      {% if action is defined %}action="{{ action }}"{% endif %}
        {% if method is defined %}method="{{ method }}"{% endif %}
>
    <div id="body_style">
        <div class="mb-3">
            <label for="body_style_name" class="form-label required">Name</label>
            <input type="text"
                   id="body_style_name"
                   name="name"
                   required="required"
                   class="form-control"/>
        </div>
        <div class="mb-3">
            <button type="submit" id="body_style_submit" name="submit" class="btn-primary btn">Submit</button>
        </div>
    </div>
</form>