<div class="modal fade" id="delete-image-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Are you sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete image {{ image.fileName }}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form action="{{ path('edit.delete_image') }}" method="post">
                    <button type="submit" class="btn btn-danger">Delete image</button>
                    <input type="hidden" name="id" value="{{ image.id }}">
                </form>
            </div>
        </div>
    </div>
</div>